.navBar {
    background-color: rgb(219, 191, 245);
    padding: 5px;
    max-width: 80%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 20px rgb(219 191 245);
    margin: 30px auto;
}

.navBar__list {
    font-family: "EB Garamond", sans-serif;
    font-size: 17px;
    font-weight: 600;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 0;
}

.navBar__listItem--imagine.navBar__listItem--imagine {
    padding: 11.5px;
    line-height: 0.5;
}

.navBar__listItem {
    border: 2px solid rgb(190, 132, 243);
    padding: 20px 0;
    background-color: rgb(190, 132, 243);
    text-align: center;
    vertical-align: middle;
    border-radius: 10px;
    text-transform: uppercase;
}

.navBar__listItem:hover {
    background-color: rgb(255 209 248);
    transition: .7s;
}

.navBar__link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navBar__linkContent {
    padding: 20px 10px;
}

.navBar__link:active {
    color: red;
}